﻿/*
    Author: Maru
*/

body {
}
.reglist{
    list-style-type: none;
}
.btn {

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block !important;
    font-size: 12px;
    font-weight: bold !important;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width:100px;
    height:30px;

}

.btn3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.btn3:hover {
    background-color: #f44336;
    color: white;
}

* {
    box-sizing: border-box;
}

.btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.btn2:hover {
    background-color: #008CBA;
    color: white;
}
.login-card {
    padding: 40px !important;
    width: 700px !important;
    background-color: #F7F7F7;
    margin: 0 auto 100px;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;

}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 60px;
    display: block;
    position: relative;
    font-weight: 100;
}

.login-card #statusLabel {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text], input[type=password] {
    height: 30px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    .login-card input[type=text]:hover, input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 3px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}


.login-card a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

    .login-card a:hover {
        opacity: 1;
    }
