﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteMaster.master.cs" Inherits="Main.SiteMaster" %>

<!DOCTYPE html>
<%--Author : Nour --%>
<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
        
    </asp:ContentPlaceHolder>
 
    <meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link href="MasterStyles.css" rel="stylesheet" />

</head>
<body>
    <form id="form1" runat="server" class="form-horizontal">
       <div class="w3-container">
           
<!-- Navbar so the user can go on different pages of the website  -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <asp:Button ID="btnHome" runat="server" Text="Home"
                            class= "w3-bar-item w3-button w3-padding-large w3-hover-white" CausesValidation="false" PostBackUrl="~/Welcome.aspx"  />
     <asp:Button ID="btnSignUP" runat="server" Text="Register"
                             class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" CausesValidation="false" PostBackUrl="~/Register.aspx"  /> 
    <asp:Button ID="btnLogin" runat="server" Text="LogIn"
                             class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" CausesValidation="false" PostBackUrl="~/Login.aspx"  /> 
    <asp:Button ID="btnContactUS" runat="server" Text="ContactUS"
                             class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" CausesValidation="false" PostBackUrl="~/Contact Us.aspx"  /> 
  <asp:Button ID="btnAboutUS" runat="server" Text="AboutUS"
                             class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" CausesValidation="false" PostBackUrl="~/AboutUS.aspx"  /> 

  </div>
</div>

<!-- Header with a background image-->
        
       <header class = "w3-container w3-center " style="padding:40px 3px ; background-image : url('Images/travelview.jpg') ; background-size :cover">
          <h1 class="w3-margin w3-jumbo">Travel Experts</h1>
       </header>
        <main>
        <asp:ContentPlaceHolder ID="mainPlaceHolder" runat="server">
        
        </asp:ContentPlaceHolder>
       </main>
           <!-- Footer for all the pages of the website-->
        <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
          <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
         </div>
         <p>Powered by TeamCookies-OOSD 2018</p>
        </footer>
       </div>
    </form>
</body>
</html>
